<div class="border-b bg-purple-800 p-2 text-center text-sm text-white font-bold">
    The source code for this blog is{' '}
    <a
      href="https://github.com/sigreer/astro-directus-blog"
      target="_parent"
      class="underline transition-colors hover:text-blue-600">
      available on GitHub</a
    >.
  </div>