<p class="mb-2 text-xl md:mb-4 md:text-2xl font-bold">This Blog is built with:</p>
  <section class="flex flex-col gap-4 md:gap-8 lg:flex-row">
    
    <a
      href="https://www.directus.io/"
      class="w-full rounded-md bg-gradient-to-r from-blue-900 to-blue-500 p-4 md:p-6 shadow-md transition hover:opacity-80 hover:shadow-lg">
      <h3
        class="w-fit bg-gradient-to-b from-[#ffffff] to-[#da62c4] bg-clip-text text-xl md:text-2xl font-bold text-transparent">
        Directus
      </h3>
      <p class="text-white text-sm md:text-base">
        A composable data platform to build your Headless CMS, BaaS, and more. 
      </p>
    </a>
    <a
      href="https://astro.build/"
      class="w-full rounded-md bg-gradient-to-r from-slate-900 via-purple-800 to-pink-500 p-4 md:p-6 shadow-md transition hover:opacity-80 hover:shadow-lg">
      <h3
        class="w-fit bg-gradient-to-b from-[#dbd7ff] to-[#da62c4] bg-clip-text text-xl md:text-2xl font-bold text-transparent">
        Astro
      </h3>
      <p class="text-white text-sm md:text-base">
        A lightweight web framework for building content focused websites.
      </p>
    </a>
  </section>

  <div class="my-4 md:my-6"></div>